body{
		font-family: 'times', serif;
	user-select: none;

}

.parent{
	display: flex;
	flex-direction: row;

}
.child1{
	width: 30%;
	box-shadow: 4px 4px 6px 4px rgba(0,0,0,.4);
	padding: 1%;
	margin: 1%;
	border-radius:8px;
	font-size:25px;
	text-align: center;

}

.child1 img{
	width:70%;
	display: block;
	margin-left:auto;
	margin-right: auto;
	border-radius: 50%;
	box-shadow: 4px 4px 6px 4gba(0,0,0,.4);

}
.child1 a{
	color: #262525;
	text-decoration: none;
	font-size: 20px;
}
.child1  h4, .child1  h2{
	font-size: 20px;
}

      table {
		  border-collapse: collapse;
		  width: 100%;
		  border-radius: 10px;
		}

		table td, table th {
		  border: 1px solid #ddd;
		  padding: 8px;
		  font-weight: 600;
		  cursor: pointer;
		}

		table tr:nth-child(even){
			background-color: #f2f2f2;

		}

		table tr:hover
		{
			background-color: #ddd;
		}

		table th {
		  padding-top: 12px;
		  padding-bottom: 12px;
		  text-align: left;
		  background-color: #040d10a1;
		  color: white;
		}
.child2{
	width: 65%;
	box-shadow: 2px 2px 6px 2px rgba(0,0,0,.3);
	padding: 1%;
	margin: 1%;
	border-radius:8px;

}

@media only screen and (min-width: 320px) and (max-width: 480px){
.parent{
	display: flex;
	flex-direction: column;

}

a{
	word-wrap: break-word;
}
.child1{
	width: 96%;
	padding: 1%;
	margin: 1%;
	border-radius:8px;
	font-size:25px;
	text-align: center;

}

.child1 img{
	width:70%;
	display: block;
	margin-left:auto;
	margin-right: auto;
	border-radius: 50%;

}
.child2{
	width: 96%;
	padding: 1%;
	margin: 1%;
	border-radius:8px;

}
@media only screen and (min-width: 480px) and (max-width: 720px){
.parent{
	display: flex;
	flex-direction: column;

}

a{
	word-wrap: break-word;
}
.child1{
	width: 96%;
	padding: 1%;
	margin: 1%;
	border-radius:8px;
	font-size:25px;
	text-align: center;

}

.child1 img{
	width:70%;
	display: block;
	margin-left:auto;
	margin-right: auto;
	border-radius: 50%;

}
.child2{
	width: 96%;
	padding: 1%;
	margin: 1%;
	border-radius:8px;

}

}
